{% comment %}
** Quote - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

<div class="section">
  <div class="container">
    <div class="one-whole column">
      <div class="quote__text">
        {{ object.settings.page_quote }}
      </div>
    </div>
  </div>
</div>
