<div class="product-app--container">
  <div class="container">
    <div class="one-whole column">
      {% for block in section.blocks %}
        {% render block %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "App wrapper",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "App wrapper"
      }
    ]
  }
{% endschema %}
