<script
  type="application/json"
  data-section-type="contact-template"
  data-section-id="{{ section.id }}"
>
</script>

{% assign mobile_crop = 'mobile-banner--crop-' | append: section.settings.mobile_image_crop %}

{% if section.settings.image != blank %}
  {%
    render 'template-banner',
    image: section.settings.image,
    mobile_image: section.settings.mobile_image,
    background_style: section.settings.caption_content_background,
    mobile_crop: mobile_crop,
    wide_display: section.settings.wide_display,
    banner_title: section.settings.contact_heading,
    banner_subheading: section.settings.contact_subheading,
    show_caption: true,
  %}
{% endif %}

<section class="section">
  <div
    class="
      container
      content
      is-justify-center
    "
  >
    {% if section.settings.image == blank %}
      <div
        class="
          five-eighths
          columns
          medium-down--one-whole
          page
        "
      >
        <h1>{{ page.title }}</h1>
        <div class="feature-divider"></div>
      </div>
    {% endif %}
  </div>
</section>

{%
  render 'include-contact-form',
  context: 'contact-template',
%}

{% if section.settings.show_map %}
  {% include 'include-map' %}
{% endif %}

{% schema %}
{
  "name": "Contact",
  "class": "shopify-section--contact-section under-menu",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1800 x 800px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile banner image",
      "info": "Display a different image on mobile screens. This only appears when the desktop image is set."
    },
    {
      "type": "select",
      "id": "mobile_image_crop",
      "label": "Mobile image cropping",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading",
      "default": "Get in touch"
    },
    {
      "type": "text",
      "id": "contact_subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "select",
      "id": "caption_content_background",
      "label": "Text contrast technique",
      "default": "original",
      "info": "Improve legibility by applying a contrast technique to your banner’s text.",
      "options": [
        {
          "value": "original",
          "label": "None"
        },
        {
          "value": "darken_bg",
          "label": "Darken banner image"
        },
        {
          "value": "text_box",
          "label": "Solid box"
        },
        {
          "value": "translucent_text_box",
          "label": "Translucent box"
        }
      ]
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "richtext",
      "id": "contact_text",
      "label": "Text"
    },
    {
        "type": "header",
        "content": "Map"
    },
    {
      "type": "checkbox",
      "id": "show_map",
      "label": "Show map",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "map_wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "text",
      "id": "map_address",
      "label": "Address",
      "info": "Google Maps will find the exact location"
    },
    {
      "type": "range",
      "id": "map_height",
      "min": 300,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Map height",
      "default": 400
    },
    {
      "type": "range",
      "id": "zoom_level",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "x",
      "label": "Map zoom level",
      "default": 16
    },
    {
      "type": "image_picker",
      "id": "map_image",
      "label": "Image",
      "info": "Displayed when map isn't loaded"
    },
    {
      "type": "header",
      "content": "API key"
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "Google Maps API key",
      "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
    },
    {
      "type": "checkbox",
      "id": "show_pin",
      "label": "Show pin",
      "info": "Requires use of API key",
      "default": true
    },
    {
      "type": "select",
      "id": "map_style",
      "label": "Map color scheme",
      "info": "Requires use of API key",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "aubergine",
          "label": "Aubergine"
        },
        {
          "value": "night",
          "label": "Night"
        },
        {
          "value": "retro",
          "label": "Retro"
        },
        {
          "value": "silver",
          "label": "Silver"
        }
      ]
    }
  ]
}

{% endschema %}