<section class="section">
  <div
    class="
      container
      content
      page
    "
  >
    <div
      class="
        three-fourths
        columns
        medium-down--one-whole
        offset-by-two
        is-hidden-offset-mobile-only
      "
    >
      <h1>{{ page.title }}</h1>
      <div class="feature-divider"></div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
